$primaryText: #2a2a2a;
$warningText: #934e13;
$brandTheme: #cdf0f2;
$linkColor: #167880;
$iconColor: #1c919c;
$borderColor: #dddddd;
$backgroundWarning: #fee4ac;
$backgroundNeutral: #f7f7f7;
$backgroundSubtle: #fafafa;
$backgroundSubtlest: #ffffff;

$boxShadow: 0px 2px 4px 0px rgba(151, 151, 151, 0.5),
  0px 1px 1px 0px rgba(0, 0, 0, 0.2);

$buttonGradient: linear-gradient(180deg, #fff 43.75%, #ddd 100%);
$buttonGradientHover: linear-gradient(180deg, #fff 15%, #ddd 100%);

$border: 1px solid $borderColor;
$borderRadius: 0.25rem;
